.header__logo {
	width: 142.01px;
	height: 33.4px;
	border: 0;
}

@media screen and (max-width: 900px) {
	.header__logo {
		padding-left: 27px;
	}
  }


  @media all and (max-width: 450px) {
	.header__logo {
		width: 104px;
		height:24px;
	}
  }