.popup__container_bigimage {
display: flex;
flex-direction: row;
align-items: flex-start;
box-sizing: border-box;
width: auto;
height: auto;
}


@media all and (max-width: 500px) {
	.popup__container_bigimage {
		width: 80%;
		min-width: 300px;
	}
}
