 .form__edit {
	display: flex;
	flex-direction: column;
	justify-content:  flex-start;
	align-items:  flex-start;
	border: 1px solid #000;

	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);

	width: 100%;
	max-height: 330px;
	padding: 34px 36px 36px 36px;
	box-sizing: border-box;
	margin-top: 40px;
}



@media all and (max-width: 500px) {
	.form__edit {
		margin-top: 30px;
	}
}
