.form__title {
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 1.2;

	color: #000;
	margin-bottom: 52px;
	margin-top: 0px;
}



@media all and (max-width: 500px) {
	.form__title {
		font-size: 14px;
		margin-bottom: 25px;
	}

}